body {
  margin: auto;
  width: 1024px;
  text-align: center;
}

h1 {
  margin: 0;
}

header {
  margin: 0;
  width: 1024px;
  background-color: #2d303a;
  color: white;
}

xmp {
  margin: -14px;
}

p {
  margin: 5px;
}